:root {
  --heading-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
  --page-color: #f9f7fe;
  --branding-color: #9fd3c7;
}
body {
  font-family: var(--main-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 86px;
}
p {
  line-height: 30px;
  font-size: 16px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 24px;
  font-family: var(--main-font-family);
}
h4 {
  font-size: 48px;
}
img {
  border-radius: 10px;
  background-color: var(--page-color);
  padding: 30px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
nav li {
  list-style: none;
  display: inline;
  padding: 10px;
  font-size: 16px;
  line-height: 34px;
}
.homepage-intro {
  text-align: center;
  padding: 100px 20px 10px;
  background-color: var(--page-color);
}
.homepage-intro h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
}
.primary-button {
  background-color: var(--branding-color);
  padding: 15px 34px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
}
.site-button {
  text-align: center;
}
.secondary-button {
  color: var(--branding-color);
  padding: 15px 34px;
  border: solid 1px var(--branding-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
}
.project-descriptor {
  padding: 80px 60px;
}
.content-section {
  padding: 60px 20px;
}
.content-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-section-information {
  margin: 30px;
}
.nav-title {
  font-size: 24px;
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
footer .work-inquiry-box {
  background-color: var(--page-color);
  padding: 40px 100px;
}
footer .work-inquiry-box p {
  margin: 0;
}
footer .lets-talk-button {
  margin-top: 14px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-bottom: 40px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 14px 24px 10px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--branding-color);
  background-color: var(--page-color);
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--page-color);
  background-color: var(--branding-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 34px;
  }
  .homepage-intro {
    padding: 80px 20px 5px;
  }
  .project-descriptor {
    padding: 0;
    text-align: center;
  }
  .content-section {
    text-align: center;
    padding: 0;
  }
  .content-section h1 {
    font-size: 44px;
    line-height: 56px;
  }
  footer .email-link {
    font-size: 18px;
  }
}
