:root {
  --heading-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
  --page-color: #ececec;
  --branding-color: #9fd3c7;
}
body {
  font-family: var(--main-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 86px;
}
p {
  line-height: 30px;
  font-size: 16px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 24px;
}
img {
  border-radius: 10px;
}
.homepage-intro {
  text-align: center;
  padding: 160px 20px 10px;
  background-color: var(--page-color);
}
.homepage-intro h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
}
.primary-button {
  background-color: var(--branding-color);
  padding: 15px 34px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
}
.site-button {
  text-align: center;
}
.secondary-button {
  color: var(--branding-color);
  padding: 15px 34px;
  border: solid 1px var(--branding-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
}
.project-descriptor {
  padding: 80px 60px;
}
.content-section {
  padding: 100px 20px;
}
.content-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-section-information {
  margin: 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 34px;
  }
  .homepage-intro {
    padding: 80px 20px 5px;
  }
  .project-descriptor {
    padding: 0;
    text-align: center;
  }
  .content-section {
    text-align: center;
    padding: 0;
  }
}
